/* .text-balance {
    word-break: break-word; Quebra as palavras para caber na linha
    white-space: normal; Permite quebra de linhas
    overflow-wrap: break-word; Adiciona compatibilidade extra
} */